# Ignore the build directory.
build

# Ignore the external directory
../external/*

# OSX automatically includes these, so ignore them as well.
.DS_Store

# Ignore ~./gitmessage
gitmessage

# Ignore new .vscode file
.vscode

# Ignore the /docs/html/ and /dox/latex/ folder
docs/html
docs/latex

# Adding an ignore for .nfs files that appear randomly
.nfs*

# Adding Iter3 log files to the ignore list
BusData.csv
PassData.csv