# Ignore the build directory.
build

# Ignore the external directory
../external/*

# OSX automatically includes these, so ignore them as well.
.DS_Store

# Ignore ~./gitmessage
gitmessage

# Ignore 
.vscode
